body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    background-color: #dad4d4;
    color: #424040;
}

.typewriter-container {
    text-align: center;
}

.typewriter {
    padding: 20px;
    display: inline-block;
    margin: 20px;
}

.not-typewriter {
    text-align: center;
    margin: 20px;
    margin-bottom: 150px;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px #424040;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    color: #424040;
    box-shadow: 0 0 0 3px #424040 inset;
    font-family: monospace;
}

button:hover {
    transform: translateY(-2px);
}

