body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    background-color: #dad4d4;
    
}

.typewriter-container {
    text-align: center;
}

.typewriter {
    padding: 20px;
    display: inline-block;
    margin: 20px;
}

.not-typewriter {
    display: none;
    text-align: center;
    margin: 20px;
}