body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ece4e4;
    color: #424040;
    background-image: url(pastel-clouds.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.typewriter-container {
    text-align: center;
}

.typewriter {
    padding: 20px;
    display: inline-block;
    margin: 20px;
    letter-spacing: 3px;
}

.not-typewriter {
    text-align: center;
    margin: 20px;
    margin-bottom: 150px;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

a {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px #424040;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;
    color: #424040;
    box-shadow: 0 0 0 3px #424040 inset;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
}

a:hover {
    transform: translateY(-2px);
}

.title {
    text-align: center;
}

.note {
    text-align: center;
}

.projects {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    row-gap: 50px;
}

.about-me-desc {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

.about-me-img {
    grid-column: 4 / span -1;
    grid-row: 1 / span 2;
}

.about-me-programming-scripting {
    grid-column: 1 / span 2;
}

.about-me-framework-tools {
    grid-column: 3 / span 2;
}

.about-me-relevant-coursework {
    grid-column: 1 / span 4;
}

.about-me-links {
    grid-column: 1 / span 2;
    display: flex;
}

.project-title {
    font-weight: bold;
}

.project-desc {
    font-weight: normal;
}

.project-stack {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech {
    border: #8c8989 solid;
    color: #525050;
    border-radius: 6px;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    font-size: 12px;
}